body {
  margin: 0;
  min-height: 100vh;
  font-family: Arial, sans-serif;
   background: linear-gradient(135deg, #1d2671, #c33764, #43cea2);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.booking-page {
  width: 100%;
  max-width: 500px;
 background: linear-gradient(135deg, #1d2671, #c33764, #43cea2);
  backdrop-filter: blur(10px);
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.4);
}

.booking-page h1 {
  text-align: center;
  margin-bottom: 20px;
}

.booking-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.booking-form input {
  padding: 10px;
  border-radius: 8px;
  border: none;
  outline: none;
  font-size: 15px;
}

.booking-form input:focus {
  outline: 2px solid #ff512f;
}

.btn {
  margin-top: 10px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background: linear-gradient(135deg, #ff512f, #dd2476);
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.btn:hover {
  transform: scale(1.05);
}
